.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #4f42b5;
}

.gallery img {
    width: 1000px;
    height: 600px;
}

.gallery li {
    list-style-type: none;
}
